# set

In [1]:
x = set()

In [2]:
x.add(2)

In [3]:
x

{2}

In [4]:
x.add(1)

In [5]:
x

{1, 2}

In [6]:
list1 =[1,2,1,2,3,4,6,3,4,5,'apple','apple','banana']

In [10]:
type(list1)

list

# change list into set

In [7]:
x=set(list1)
print(x)

{1, 2, 3, 4, 5, 6, 'apple', 'banana'}

In [8]:
type(x)

set

In [11]:
list1 = list(x)

In [12]:
print(list1)

[1, 2, 3, 4, 5, 6, 'apple', 'banana']

In [13]:
print(type(list1))

<class 'list'>

In [14]:
list1.append("apple")

In [15]:
print(list1)

[1, 2, 3, 4, 5, 6, 'apple', 'banana', 'apple']