# ANONYMOUS

In [1]:
def cube(y):
    y =y*y*y
    return y
cube(4)

64

# Lambda

In [2]:
lambda_cube = lambda y:y*y*y
print(lambda_cube(5))

125

# Example : Find the sum of two numbers using lambda function

In [3]:
sum = lambda x,y: x+y
print(sum(4,9))

13

In [4]:
(lambda x,y: x+y)(10,34)

44

# Filter function
Example: Write a function that receives a list and return the vowels in the list

In [5]:
def vowels( alpha):
    variables = ["a","e","i","o","u"]
    if alpha in variables:
        return True
    else:
        return False
    
sequence =["g",'e','e','j','k','i','f']
filtered = filter(vowels, sequence)
print('The filtered letters are:')
for s in filtered:
    print(s)

The filtered letters are:
e
e
i

# Using lambda function with filter
Example
A list contains both even and odd numbers. Use lambda and filter function to print odd numbersÂ¶

In [6]:
list2 =[1,2,3,4,5,6,7,8,9,11,22,33,445,56,44,5]
result= filter(lambda x:x%2==0,list2)
print(list(result))

[2, 4, 6, 8, 22, 56, 44]

# A list contains both even and odd numbers. Use lambda and filter function to print even number

In [7]:
list1 =[1,2,3,4,5,6,7,9,11,23]
result = filter(lambda x:x%2!=0,list1)
print(list(result))

[1, 3, 5, 7, 9, 11, 23]

# Exercise: Write a function that filters out the people above 20 years . Use lambda and filter function

In [8]:
age = [10,11,17,12,21,23,24,25,28,67,33,14,15]
result = filter(lambda x:x>20,age)
print(list(result))

[21, 23, 24, 25, 28, 67, 33]

# Write a program to find the square of a list Code

In [10]:
sets = [1,2,3,4,5,6,7]
sets2 = []
for num in sets:
    sets2.append(num ** 2)
print(sets2)

[1, 4, 9, 16, 25, 36, 49]

# Same function using map()

In [11]:
def square(number):
    return number **2
number =[1,2,3,4,5,6,7,8]
sets = map(square,number)
print(list(sets))

[1, 4, 9, 16, 25, 36, 49, 64]

# Implementing same code using lambda in map()

In [12]:
numbers =[1,2,3,4,5,6,7,8]
sets = map(lambda x:x**2,numbers)
print(list(sets))

[1, 4, 9, 16, 25, 36, 49, 64]

# Exercise 1: Write a code that takes a list and return its double. Use lambda and map function

In [13]:
numbers =[1,2,3,4,5,6,7,8]
sets = map(lambda x:x*2,numbers)
print(list(sets))

[2, 4, 6, 8, 10, 12, 14, 16]

# Exercise 2: Write a code that receives the list of animal names and return the uppercase name list using lambda and map function

In [14]:
animals = ['dog', 'cat', 'parrot', 'rabbit']
upper = map(lambda animals:str.upper(animals),animals)
print(list(upper))

['DOG', 'CAT', 'PARROT', 'RABBIT']

# Example : Write a code to sum all the elements in a list

In [15]:
def my_func(list):
    sum1 = 0
    for i in list:
        sum1 = sum1 + 1
    return sum1
list = [1,2,3,4,5,6]
sum2 = my_func(list)
print(sum2)

6

In [16]:
from functools import reduce

# Write a code to sum all the elements in a list using reduce

In [17]:
def my_add(a, b):
    result = a + b
    return result
numbers = [0, 1, 2, 3, 4]
reduce(my_add,numbers)

10

In [18]:
numbers = [1,2,3,4,5,6,7,8]
reduce(lambda a,b:a+b , numbers)

36

# Exercise 1: Write a function to find the maximum number in a list with simple function

In [19]:
def max_check(x):
    max_value = x[0]
    for check in x:
        if check > max_value:
            max_val = check
    return max_val
my_list = [2,3,4,5,6,7,8,91]
print("maximun value is ", max_check(my_list))

maximun value is  91

# Exercise 2: Write a function to find the maximum of a number using reduce

In [20]:
def max_value(x,y):
    return x if x > y else y
my_list = [21,23,45,67,34,87,42,678,5332,457]
print(reduce(max_value,my_list))

5332

# Exercise 3: Write a function to find the maximum of a number using lambda with reduce

In [21]:
my_list = [2,4,7,2,36,12]
print(reduce(lambda x,y:x if x>y else y , my_list))

36